.headerShop a {
  text-decoration: none;
  color: #222 ;
}
.headerShop a:hover,.headerShop a:active{
  color: lightgray;
}
 .navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;

}
.headerShop{
  max-width: 1240px;
  margin: 0 auto;
  background: none !important;
}
@media(max-width: 959px){
  .headerShop{
      border-radius: 0px;
  }
}
.header{
  border-radius: 3px;
  background-color: none;
  border-bottom: 1px solid rgb(105, 105, 105);
}

main{
  max-width: 1240px;
  margin: 0 auto;
}

@media(max-width: 700px){
  .headerShop{
      border-radius: 0px;
  }

}
