.headerShop a {
  text-decoration: none;
  color: #222 ;
}
.headerShop a:hover,.headerShop a:active{
  color: #FC5F5F;
}
 .navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation-items li{
  line-height: 40px;
}
.headerShop{
  max-width: 1240px;
  margin: 0 auto;
  background: none !important;
}
@media(max-width: 959px){
  .headerShop{
      border-radius: 0px;
  }
}
.header{
  border-radius: 3px;
  background-color: none;
  border-bottom: 1px solid rgb(105, 105, 105);
}

@media(max-width: 700px){
  .headerShop{
      border-radius: 0px;
  }

}


/* footer */
footer {
  background-color: #e8e8e8;
  color: #111111;
  font-size: 16px;

}
footer * {
  border: none;
  outline: none;
}
.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 1.9fr 1fr 1fr;
  align-items: stretch;
  grid-gap: 50px;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 15em;
}
h3 {
  width: 100%;
  text-align: left;
  color: #111111;
  font-size: 1.4em;
  white-space: nowrap;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
footer li:not(:first-child) {
  margin-top: 0.8em;
}
footer ul li a {
  color: #1f1f1f;
  text-decoration: none;
}
footer ul li a:hover {
  color: #0080ff;
}
.about, .about h3{
  text-align: center;
}
.about p {
  line-height: 2;
  margin: 0;
}
/* div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.social i {
  color: #bac6d9;
} */

.copyright {
  padding: 0.3em 1em;
  background-color: #dbdbdb;
}
.footer-menu{
  float: left;
    margin-top: 10px;
}

.footer-menu a{
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
  color: #232323;
}
@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }
  .column {

    padding: 0;
    min-height: 15em;
  }
}
/* end  footer */

.avatar-shop{
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.button-scroll-to-top {
  position: fixed;
  opacity: 1;
  transition: all .2s ease-in-out;
  z-index: 1030;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #DC4C64;
  color: white;
  border: none;
}

.button-scroll-to-top:hover {
  background-color: #db3854;
  cursor: pointer;
}
