
  <mat-sidenav-container style="display: inline;">
    <mat-sidenav  #sidenav role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink="/login" (click)="sidenav.close()">
            <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
        </a>
        <a mat-list-item routerLink="/owner" (click)="onSidenavClose(sidenav)">
            <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>
        </a>
        <a mat-list-item routerLink="#" >
            <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
        </a>
      </mat-nav-list>
      <!--this is a place for us to add side-nav code-->
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="header">
        <mat-toolbar class="headerShop" >
          <div style="display: inline-flex; align-items: center; line-height: 1;">
            <span style="padding-right: 8px;">
              <img width="50" height="50" src="../../assets/images/logo.svg"
              class="custom-logo" alt="Simply Natural" decoding="async">
            </span>

            <div>
              <a routerLink="/home">Xanh Online</a>
            </div>

          </div>
          <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
              <ul fxLayout fxLayoutGap="15px" class="navigation-items">
                  <li>
                      <a routerLink="home">Trang chủ</a>
                  </li>
                  <li>
                      <a routerLink="product" >Sản phẩm</a>
                  </li>
                  <li>
                    <a routerLink="shop-introduce" >Giới thiệu</a>
                  </li>
                  <li>
                    <a routerLink="shop-cart" ><mat-icon>shopping_cart</mat-icon>{{countItem}}</a>
                  </li>
              </ul>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-xs>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        </mat-toolbar>
      </div>
      <!--in here all the content must reside. We will add a navigation header as well-->

      <main style="height: auto; min-height: 80vh;">
        <router-outlet></router-outlet>


      </main>
      <footer>

        <div style="max-width: 1240px;
        margin: 0 auto;" class="row primary">
          <div class="column about">
            <span>
              <img width="150" height="150" src="../../assets/images/logo.svg"
              class="custom-logo" alt="Simply Natural" decoding="async">
            </span>
            <h3>Xanh Online </h3>
            <p>
              Chúng tôi luôn cung cấp những sản phẩm tốt nhất cho khách hàng của mình
            </p>

                      <!-- <div class="social">
                        <a href="" style="padding: 8px; background-color: green;"><mat-icon style="color: brown;">facebook</mat-icon></a>
                      </div> -->
          </div>
          <div class="column links">
            <h3>Menu</h3>
            <ul>
              <li>
                <a href="#faq">Trang chủ</a>
              </li>
              <li>
                <a href="#cookies-policy">Giới thiệu</a>
              </li>
              <li>
                <a href="#terms-of-services">Cửa hàng</a>
              </li>
              <li>
                <a href="#support">Tin tức</a>
              </li>
              <li>
                <a href="#support">Liên hệ</a>
              </li>
            </ul>
          </div>
            <div class="column links">

              <h3>TỔNG ĐÀI HỖ TRỢ</h3>
              <ul>
                <li>
                  <a href="#faq">Gọi mua hàng 0126 922 0162</a>
                </li>
                <li>
                  <a href="#cookies-policy">Gọi khiếu nại 0126 922 0162</a>
                </li>
                <li>
                  <a href="#terms-of-services">Gọi bảo hành 0126 922 0162</a>
                </li>
                <li>
                  <a href="#support">Hỗ trợ kỹ thuật 0126 922 0162</a>
                </li>

              </ul>
            </div>
        </div>

        <div class="row copyright">
          <p style="text-align: center;">Copyright &copy; 2023 Xanh Online</p>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>

