<div id="divLogin" class="text-center">
    <h2 class="text-upper-case">Đăng nhập</h2>

</div>


  <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
    <mat-form-field appearance="outline">
      <mat-label>Tên tài khoản</mat-label>
      <input matInput placeholder="Tên tài khoản" [(ngModel)]="model.username" #username="ngModel" required  [ngModelOptions]="{standalone: true}">
      <mat-icon matSuffix></mat-icon>
      <mat-error *ngIf="username.hasError('required')">
        Tên tài khoản không được bỏ trống!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mật khẩu</mat-label>
      <input type="password" matInput placeholder="Mật khẩu" #password="ngModel" [(ngModel)]="model.password" required [ngModelOptions]="{standalone: true}">
      <mat-icon matSuffix></mat-icon>
      <mat-error *ngIf="password.hasError('required')">
        Mật khẩu không được bỏ trống!
      </mat-error>
    </mat-form-field>
   <div  class="example-button-row float-right">
    <button  id="login-button" mat-raised-button color="primary" type="submit"  [disabled]="preventAbuse">Đăng nhập</button>
    <p style="margin-top: 10px;">Bạn chưa có tài khoản?  <a href="javascript:void(0)" color="accent" style="width: 50%;">Đăng ký</a></p>

   </div>

  </form>
  <!-- <footer><a href="javascript:void(0)" target="_blank"><img src="../../assets/img/parking.png"></a>
    <p>You Gotta Love <a href="javascript:void(0)" target="_blank">Google</a></p>
  </footer> -->
