<mat-card>
  <div>
    <mat-card-title color="primary">Loại sản phẩm</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <br>
    <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column">
      <div fxFlex fxLayoutAlign="satrt center">
        <button appCheckRoleBtn [roleNameBtn]="'CreateCategory'" [users]="userRoles" class="custom-button" mat-raised-button color="primary" (click)="openDialog('create')">
          Thêm mới
        </button>
        <button appCheckRoleBtn [roleNameBtn]="'DeleteCategory'" [users]="userRoles" class="custom-button" color="warn" mat-raised-button [disabled]="selection.selected.length==0" (click)="removeData()">
          Xóa </button>
      </div>
      <div fxFlex></div>
      <div fxFlex>
        <mat-form-field appearance="standard" ngClass.md="width100">
          <mat-label>Tìm kiếm</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Nhập từ khóa..." #inputSearch>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8 table-container">
    <div class="res-table-container">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select">
          <th style="width: 7%; text-align: center !important;" mat-header-cell *matHeaderCellDef class="checkbox-col">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td style="width: 5%; text-align: center !important;" mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>STT</th>
          <td mat-cell *matCellDef="let element;index as i">{{(i+1)+(page*pageSize)}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên loại sản phẩm</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã</th>
          <td mat-cell *matCellDef="let element">{{element.code}}</td>
        </ng-container>

        <ng-container matColumnDef="ordering">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vị trí</th>
          <td mat-cell *matCellDef="let element">{{element.ordering}}</td>
        </ng-container>



        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Mô tả</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
          <td mat-cell *matCellDef="let element">{{element.createdDate|date:'yyyy/MM/dd HH:mm:ss'}}</td>
        </ng-container>
        <ng-container matColumnDef="updatedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày sửa</th>
          <td mat-cell *matCellDef="let element">{{element.updatedDate|date:'yyyy/MM/dd HH:mm:ss'}}</td>
        </ng-container>
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ảnh</th>
          <td mat-cell *matCellDef="let element"><img src="{{urlImage}}{{element.icon}}" width="25px" height="25px" alt="" srcset=""></td>
        </ng-container>
        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hiệu lực</th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [checked]="element.isActive" [disableRipple]="true" (click)="$event.preventDefault()">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="action-col">Thao tác</th>
          <td mat-cell *matCellDef="let element">
            <a appCheckRoleBtn [roleNameBtn]="'UpdateCategory'" [users]="userRoles" href="javascript:void(0)" color="primary" matTooltip="Chỉnh sửa" (click)="openDialog('edit',element)">
              <mat-icon>edit</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" pageSize="pageSize" (page)="onChangePage($event)"
      [pageIndex]="page" [length]="totalRow" showFirstLastButtons [disabled]="false"
      aria-label="Select page of appRoles elements">
    </mat-paginator>
  </div>
</mat-card>



<ng-template #dialog>
  <form action="" (submit)="addData()" [formGroup]="form">
    <h2 mat-dialog-title style="margin-bottom: 8px;">{{title}}</h2>
    <mat-dialog-content class="mat-typography">
      <mat-form-field appearance="outline">
        <mat-label>Tên loại sản phẩm</mat-label>
        <input matInput placeholder="Tên loại sản phẩm" formControlName="name" #name maxlength="250">
        <mat-hint align="end">{{name.value.length}} / 250</mat-hint>
        <mat-error *ngIf="f('name','required')">Tên loại sản phẩm không được bỏ trống!</mat-error>
      </mat-form-field>
      <div fxLayout.gt-md="row" fxLayout.gt-sm="column" fxLayoutGap.gt-sm="0px" fxLayoutGap.gt-md="8px">
        <div fxFlex.gt-md="50" fxFlex.gt-sm="100" class="action-blurb">
          <mat-form-field appearance="outline">
            <mat-label>Mã sản phẩm</mat-label>
            <input matInput placeholder="Mã sản phẩm" formControlName="code" #code maxlength="100">
            <mat-hint align="end">{{code.value.length}} / 100</mat-hint>
            <mat-error *ngIf="f('code','required')">Mã sản phẩm không được bỏ trống!</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="50" fxFlex.gt-sm="100" class="action-blurb">
          <mat-form-field appearance="outline">
            <mat-label>Vị trí (từ bé đến lớn)</mat-label>
            <input matInput placeholder="Vị trí" formControlName="ordering" #description min="0" max="100" type="number">
            <mat-error *ngIf="f('ordering','required')">Vị trí không được bỏ trống!</mat-error>
          </mat-form-field>
        </div>

      </div>


      <mat-form-field appearance="outline">
        <mat-label>Mô tả</mat-label>
        <textarea rows="3" matInput placeholder="Mô tả" formControlName="description" #description
          maxlength="500"></textarea>
        <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
      </mat-form-field>

      <mat-label>Chọn ảnh <span *ngIf="action=='create' ? true : false " style="color: red;">*</span></mat-label>
      <div class="chose-file-image">
        <input style="width: 100%;" required type="file" accept="image/*" #file placeholder="Chọn ảnh"  (change)="uploadFile(file.files)"
          >
          <!-- <button mat-raised-button color="primary" (click)="file.click()">Chọn ảnh</button> -->
        <!-- <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button> -->
      </div>
      <div style="margin-top: 14px;" *ngIf="action=='create' ? false : true ">
        <mat-label>Ảnh hiện tại</mat-label>
        <div>
          <img *ngIf="model.icon != null" src="{{urlImage + model.icon}}" width="25px" height="25px" alt="" srcset="">
        </div>

      </div>



    </mat-dialog-content>
    <mat-checkbox style="margin-top: 8px;" formControlName="isActive">Hiệu lực </mat-checkbox>
    <mat-dialog-actions align="center">
      <button mat-stroked-button color="primary"  type="submit">Lưu</button>
      <button mat-stroked-button color="warn" mat-dialog-close type="button">Đóng</button>

    </mat-dialog-actions>
  </form>

</ng-template>
