<div class="content-introduce">
  <div class="content-1-introduce">
      <h1 style="text-align: center;"><span style="font-size: 150%;">XANH ONLINE</span></h1>
      <p style="text-align: center;"><span style="font-size: 16.56px;">Xanh online là cửa hàng hoạt động lâu năm
              trong lĩnh vực này và chuyên cung cấp các loại cây cảnh loại</span></p>
  </div>
  <div class="content-2-introduce">
      <div class="content-2-introduce-left">
          <div class="featured-box">
              <div class="icon-box-img" style="width: 61px">
                  <div class="icon">
                      <div class="icon-inner">
                          <img width="64" height="64" src="../../../assets/images/gioithieu1.png"
                              class="attachment-medium size-medium" alt="">
                      </div>
                  </div>
              </div>
              <div class="icon-box-text">

                  <h3>Xanh Online</h3>
                  <p>Hiện thân của sắc màu hạnh phúc trong cuộc sống thường nhật</p>
                  <div class="gap-element" style="display:block; height:auto; padding-top:30px"></div>
              </div>
          </div><!-- .icon-box -->



          <div class="featured-box">
              <div class="icon-box-img" style="width: 61px">
                  <div class="icon">
                      <div class="icon-inner">
                          <img width="64" height="64" src="../../../assets/images/gioithieu2.png"
                              class="attachment-medium size-medium" alt="">
                      </div>
                  </div>
              </div>
              <div class="icon-box-text">

                  <h3>Cung cấp cây</h3>
                  <p>Cung cấp cây cảnh đáp ứng nhu cầu trang trí thẩm mỹ cho mọi không gian văn phòng, quán cafe, nội thất, phòng ngủ. </p>
                  <div class="gap-element" style="display:block; height:auto; padding-top:30px"></div>
              </div>
          </div>
      </div>
      <div class="content-2-introduce-center"><img
              src="../../../assets/images/gioithieu_bg.jpg" alt=""></div>
      <div class="content-2-introduce-right">
          <div class="featured-box">
              <div class="icon-box-img" style="width: 61px">
                  <div class="icon">
                      <div class="icon-inner">
                          <img width="64" height="64" src="../../../assets/images/gioithieu3.png"
                              class="attachment-medium size-medium" alt="">
                      </div>
                  </div>
              </div>
              <div class="icon-box-text">

                  <h3>Thiết kế sân vườn</h3>
                  <p>Thiết kế không gian sân vườn đẹp, sáng tạo theo sở thích của bạn. Xanh Online với 10 năm kinh nghiệm mang lại cho bạn không gian sống chill nhất. </p>
                  <div class="gap-element" style="display:block; height:auto; padding-top:30px"></div>
              </div>
          </div><!-- .icon-box -->



          <div class="featured-box">
              <div class="icon-box-img" style="width: 61px">
                  <div class="icon">
                      <div class="icon-inner">
                          <img width="64" height="64" src="../../../assets/images/gioithieu4.png"
                              class="attachment-medium size-medium" alt="">
                      </div>
                  </div>
              </div>
              <div class="icon-box-text">

                  <h3>Dịch vụ bảo dưỡng, chăm sóc cây</h3>
                  <p>Chăm sóc, bảo dưỡng cây trọn gói theo yêu cầu. Quy trình chuyên nghiệp, nhân viên giàu kinh nghiệm. </p>
                  <div class="gap-element" style="display:block; height:auto; padding-top:30px"></div>
              </div>
          </div>
      </div>
  </div>
</div>
