.img-tb-shop-cart{
  max-width: 100%;
  height: auto;
}
.shop-cart{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  max-width: 1240px;
  margin: 0 auto;
  min-height: 100%;
  max-height: auto;
  padding-top: 30px;
  padding-left: 16px;
  padding-right: 16px;
}
.shop-cart table, .shop-cart th, .shop-cart td{
  border-collapse: collapse;
}
.shop-cart td{
  padding: 8px 4px 8px 4px;
}
.shop-cart th{
  text-align: left;
  border-bottom: 1px solid #929292;
  padding: 8px 4px 8px 4px;
}

.th-quantity{
  width: 20%;
}
.shop-cart-tb-p-show{
  display: none;
}

.order-info{
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

@media(max-width: 950px){
  .shop-cart{
    display: block;
  }
  .shop-cart-order{
    margin-top: 8px;
  }
}
@media(max-width: 670px){
  .shop-cart-col-hide{
    display: none;
  }
}

@media(max-width: 510px){
  .shop-cart-col-total-hide{
    display: none;
  }
  .th-quantity{
    width: 25%;
  }
  .shop-cart-tb-p-show{
    display: block;
  }
}
@media(max-width: 450px){
  .th-quantity{
    width: 30%;
  }
}
