
  <div class="shop-cart" style="display: flex; max-width: 1240px; margin: 0 auto;">
    <table>
      <thead>
        <tr>
          <th>Sản phẩm</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Tổng tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img class="img-tb-shop-cart" src="../../../assets/images/produc-image-none.png" alt="" srcset=""><span>SPA</span></td>
          <td>100000</td>
          <td><button>-</button><input type="number"><button>+</button></td>
          <td>1000</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">Tổng tiền</td>
          <td>18000</td>
        </tr>
      </tfoot>
    </table>
  </div>





