<div *ngIf="isNotFoundProduct && !isThanks" class="shop-cart">
  <div class="shop-cart-item">
    <table style="min-width: auto !important;">
      <thead>
        <tr>
          <th>SẢN PHẨM</th>
          <th class="shop-cart-col-hide">GIÁ</th>
          <th class="th-quantity">SỐ LƯỢNG</th>
          <th class="shop-cart-col-hide">GIẢM GIÁ</th>
          <th class="shop-cart-col-total-hide" style="text-align: right;">TỔNG CỘNG</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border-bottom: 1px solid #929292;" *ngFor="let product of orderShop;let indexOfelement=index;">
          <td style="display: flex;">
            <div style="display: flex;flex-direction: column;justify-content: center; padding-right: 8px;">
              <button class="btn-remove-product" (click)="deleteProduct(indexOfelement, product.productId)">X</button>
            </div>
            <div>
              <img class="img-tb-shop-cart" width="100px" height="100px" src="{{urlImage + product.productImages[0].imageLink}}" alt="" srcset="">
            </div>
            <div style="display: flex;flex-direction: column;justify-content: center; padding: 8px;">
              <p style="margin: 0 0 8px 0;">{{product.title}}</p>
              <p style="margin: 0 0 8px 0;">Còn lại: {{product.quantity}}</p>
              <p class="shop-cart-tb-p-show" style="margin: 0 0 8px 0; font-weight:bold ;">{{formatCash(product.price.toString())}} <span style="text-decoration: underline;">đ</span></p>
              <p class="shop-cart-tb-p-show" style="margin: 0 0 8px 0; color: red;">- {{product.discount}}%</p>
            </div>
          </td>

          <td class="shop-cart-col-hide" style="font-weight: bold;">{{formatCash(product.price.toString())}} <span style="text-decoration: underline;">đ</span></td>
          <td><button (click)="changeQuantity('-',indexOfelement)">-</button><input [value]="product.orderQuantity" style="width: 25px; margin:0 4px 0 4px; border: 1px solid black; border-radius: 2px;" type="text" readonly><button (click)="changeQuantity('+',indexOfelement)">+</button></td>
          <td class="shop-cart-col-hide">{{product.discount}}%</td>
          <td class="shop-cart-col-total-hide" style="font-weight: bold;text-align: right;">{{formatCash(total(product.price, product.orderQuantity, product.discount, indexOfelement).toString())}} <span style="text-decoration: underline;">đ</span></td>
        </tr>

      </tbody>
      <!-- <tfoot>
          <tr>
            <td colspan="3">Tổng tiền</td>
            <td>18000</td>
          </tr>
        </tfoot> -->
    </table>
  </div>
  <div class="shop-cart-order">

    <table style="min-width: auto !important;">
        <tr>
          <th colspan="2">TỔNG SỐ LƯỢNG</th>
        </tr>
        <tr style="border-bottom: 1px solid #929292;">
          <td >
              <p>Tổng tiền</p>
          </td>
          <td style="font-weight: bold; text-align: right;">{{formatCash(totalAll.toString())}} <span style="text-decoration: underline;">đ</span></td>
        </tr>
        <tr style="border-bottom: 1px solid #929292;">
          <td colspan="2">
            <mat-form-field appearance="outline">
              <mat-label>Loại thanh toán</mat-label>
              <mat-select [(ngModel)]="paymentId">
                <mat-option *ngFor="let payment of payments" [value]="payment.id">
                  {{payment.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <button class="custom-button" mat-raised-button color="warn" (click)="pay()">
              TIẾP THEO
            </button>
          </td>
        </tr>
    </table>
  </div>

</div>

<div class="order-info" *ngIf="isOrder && !isThanks">
  <div class="text-center">
    <!-- <h2 class="text-upper-case">Thông tin giao hàng</h2> -->
      <form action="" (submit)="addData()" [formGroup]="form">
        <!-- <h2 mat-dialog-title>{{title}}</h2> -->
           <mat-form-field appearance="outline">
            <mat-label>Họ và tên</mat-label>
            <input matInput placeholder="Họ và tên"
              formControlName="fullName" #fullName maxlength="100" required>
            <mat-hint align="end">{{fullName.value.length}} / 100</mat-hint>
            <mat-error *ngIf="f('fullName').hasError('required')">
              Họ và tên không được bỏ trống
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Địa chỉ</mat-label>
            <input matInput placeholder="Địa chỉ"
              formControlName="address" #address maxlength="250" required>
            <mat-hint align="end">{{address.value.length}} / 250</mat-hint>
            <mat-error *ngIf="f('address').hasError('required')">
              Địa chỉ không được bỏ trống
            </mat-error>
          </mat-form-field>

              <mat-form-field appearance="outline" align="end">
                <mat-label>Số điện thoại</mat-label>
                <mat-icon matPrefix> phone</mat-icon>
                <input type="tel" matInput placeholder="Số điện thoại"
                  maxlength="15" #phoneNumber formControlName="phoneNumber" required>
                <mat-hint align="end">{{phoneNumber.value.length}} / 15</mat-hint>
                <mat-error *ngIf="f('phoneNumber').hasError('required')">
                  Số điện thoại không được bỏ trống
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Ghi chú</mat-label>
                <textarea [rows]="3" matInput placeholder="Địa chỉ"
                  formControlName="note" #note maxlength="250"></textarea>
                <mat-hint align="end">{{note.value.length}} / 250</mat-hint>
              </mat-form-field>

        <div align="center" style="margin-bottom: 40px;">
          <button mat-stroked-button color="primary" type="submit">ĐẶT HÀNG</button>

        </div>

      </form>
  </div>
</div>

<div *ngIf="!isNotFoundProduct && !isThanks" style="text-align: center;">
  <h2>KHÔNG CÓ SẢN PHẨM NÀO TRONG GIỎ HÀNG</h2>
</div>

<div *ngIf="isThanks" class="content-thank-you" style="text-align: center;">
  <h2>ĐẶT HÀNG THÀNH CÔNG</h2>
  <h3>CẢM ƠN QUÝ KHÁCH ĐÃ MUA HÀNG</h3>
  <button (click)="trangChu()" class="product-btn-add" color="primary" mat-raised-button> TIẾP TỤC MUA HÀNG	<mat-icon>arrow_right_alt</mat-icon></button>
</div>
