<div class="content-product-detail">
  <div *ngIf="product==null" style="text-align: center;margin-top: 20px;"><h2>KHÔNG TẢI ĐƯỢC SẢN PHẨM</h2></div>
  <div *ngIf="product!=null" class = "card-wrapper">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "{{urlImage + product.productImages[currentImg].imageLink}}" alt = "shoe image">
          </div>
        </div>
        <div class = "img-select">
          <div class = "img-item" *ngFor="let productImage of product.productImages;let idx=index;">
            <a (click)="currentImg=idx">
              <img width="80px" src = "{{urlImage + productImage.imageLink}}" alt = "shoe image">
            </a>
          </div>

        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">{{product.title}}</h2>

        <div class = "product-price">
          <p class = "last-price">Giá cũ: <span>{{formatCash(product.price.toString())}} đ</span></p>
          <p class = "new-price">Giá mới: <span>{{formatCash(newPrice.toString())}} đ ({{product.discount}}%)</span></p>
        </div>

        <div class = "product-detail">
          <h2>Mô tả sản phẩm: </h2>
          <p>{{product.description}}</p>
          <ul style="padding: 0px;">
            <li>Còn lại: <span>in stock</span></li>
            <li>Loại sản phẩm: <span>Shoes</span></li>
            <li>Khu vực vận chuyển: <span>Mọi nơi trên đất nước Việt Nam</span></li>
            <li>Phí vận chuyển: <span>Miễn phí</span></li>
          </ul>
        </div>

        <div class = "purchase-info">
          <input [(ngModel)]="quantityPro" type="number" min = "1" value = "1">
          <button type = "button" class = "btn" (click)="addShopCart(product.productId)">
            Thêm vào giỏ hàng <i class = "fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
