

.content{
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  grid-gap: 50px;
  padding-top: 60px;
}
.content-right{
  text-align: center;
}
.title-featured-plants h2{
  margin-bottom: 16px;
  font-size: 40px;
}
.title-featured-plants p{
  margin-bottom: 32px;
  font-size: 15px;
}

@media(max-width: 700px){

  .title-featured-plants h2{
    margin-bottom: 16px;
    font-size: 35px;
  }
  .title-featured-plants p{
    margin-bottom: 32px;
    font-size: 14px;
  }
}
.product:hover{
  box-shadow: 0 4px 11px rgb(0 0 0 / 0.2);
}

.category-name{
  font-size: 14px;
  opacity: 0.7;
  margin: 8px 0 4px 0;
}
.product a{
  text-decoration: none;
  color: #222 ;
}

.product a:hover,.product a:active{
  color: #0045db;
}
.title-product-name{
  font-size: 18px;
  height: 38px;
}
.product-price{
  font-size: 18px;
  line-height: 120%;
  font-weight: bold;
}
.product-btn-add{
  background-color: #86c200;
  color: white;
  margin-bottom: 16px !important;
}
.content-right, .content-left{
  background-color: #F7FCF4;
}
.img-product{
  width: 200px;
  height: 200px;
}
