

.content{
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  grid-gap: 20px;
  padding-top: 60px;
}
.content-right{
  text-align: center;
}
.title-featured-plants h2{
  margin-bottom: 16px;
  font-size: 40px;
}
.title-featured-plants p{
  margin-bottom: 32px;
  font-size: 15px;
}

@media(max-width: 700px){

  .title-featured-plants h2{
    margin-bottom: 16px;
    font-size: 35px;
  }
  .title-featured-plants p{
    margin-bottom: 32px;
    font-size: 14px;
  }
}
.product{
  border: 1px solid rgb(0 0 0 / 0.2);
}
.product:hover{
  box-shadow: 0 4px 15px rgb(0 0 0 / 0.2);
}

.category-name{
  font-size: 14px;
  opacity: 0.7;
  margin: 8px 0 4px 0;
}
.product a{
  text-decoration: none;
  color: #222 ;
}

.product a:hover,.product a:active{
  color: #0045db;
}
.title-product-name{
  font-size: 18px;
  height: 38px;
}
.product-price{
  font-size: 18px;
  line-height: 120%;
  font-weight: bold;
}
.product-btn-add{
  background-color: #86c200;
  color: white;
  margin-bottom: 16px !important;
}
.content-right, .content-left{
  background-color: #FFFFFF;
}
.img-product{
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
@media(max-width: 800px){
  .content{
    display: block;
  }

}
.filter-category {
  padding-left: 16px;
}
.filter-category ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.filter-category ul li {
  padding: 8px;
  padding-left: 0px;
}
.filter-category ul li a {
  color: #1f1f1f;
  text-decoration: none;
  line-height: 30px;
  cursor: pointer;
}
.filter-category ul li a:hover {
  color: #0080ff;
}
.filter-category ul li a span {
  font-size:16px;
}

