
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
.chose-file-image{
  border: 1px solid rgba(194, 194, 194, 0.87); padding: 5px; border-radius: 8px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 8px !important;
}
th{
  white-space: nowrap;
}

.containerImg {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.containerImg img {
  width: 100%;
  height: auto;
}

.containerImg .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.containerImg .btn:hover {
  background-color: black;
}

.unImage{
  opacity:  0.5;
}
