<div style="background-color: #FFFFFF;">
  <div class="banner">
    <div class="banner-content">
      <h2>Cây chất lượng tốt</h2>
      <h1>Nhiều loại cây tuyệt vời giá chỉ từ 50.000 VNĐ</h1>
    </div>


  </div>
  <div class="content">
    <section class="featured-plants">
      <div class="title-featured-plants">
        <h2>Sản phẩm nổi bật</h2>
        <p>Đây là những sản phẩm bán chạy nhất của chúng tôi</p>
      </div>
      <div class="product-featured-plants">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
          <ng-container *ngFor="let product of productBestSaler" >
            <div  fxFlex="0 1 calc(33.3% - 32px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%"  class="product">
            <div class="cart-top">
              <a style="cursor: pointer;" (click)="productDetail(product.productId)">
                <img class="img-product" *ngIf="product.productImages.length==0" width="300px" height="300px" src="../../../assets/images/produc-image-none.png" alt="">
                <img class="img-product" *ngIf="product.productImages.length>0" width="300px" height="300px" src="{{urlImage + product.productImages[0].imageLink}}" alt="" srcset="">
              </a>
            </div>
            <div class="cart-botom">
              <p class="category-name">{{product.categoryName}}</p>
              <a style="cursor: pointer;" (click)="productDetail(product.productId)"><p class="title-product-name">{{product.title}}</p></a>
              <p class="product-price">{{formatCash(product.price.toString())}} đ</p>
              <button class="product-btn-add"  mat-raised-button (click)="addShopCart(product.productId)">THÊM VÀO GIỎ</button>
            </div>


          </div>

          </ng-container>
        </div>
      </div>
    </section>
  </div>





</div>
