<div class="banner">
  <div class="banner-content">
    <h2>Cây chất lượng tốt</h2>
    <h1>Nhiều loại cây tuyệt vời giá chỉ từ 50.000 VNĐ</h1>
  </div>


</div>
<div class="content">
<section class="featured-plants">
  <div class="title-featured-plants">
    <h2>Sản phẩm nổi bật</h2>
    <p>Đây là những sản phẩm bán chạy nhất của chúng tôi</p>
  </div>
  <div class="product-featured-plants">
    <div
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutAlign="flex-start">
    <ng-container *ngFor="let product of productBestSaler">
      <div fxFlex="0 1 calc(33.3%)"
      fxFlex.lt-md="0 1 calc(50%)"
      fxFlex.lt-sm="100%" style="padding: 8px;">
      <mat-card class="product">
        <a>
          <img *ngIf="product.productImages.length==0" src="../../../assets/images/produc-image-none.png" width="200px" height="200px" alt="">
          <img *ngIf="product.productImages.length>0" src="{{urlImage + product.productImages[0].imageLink}}" width="200px" height="200px" alt="" srcset="">
        </a>
        <p class="category-name">{{product.categoryName}}</p>
        <a href=""><p class="title-product-name">{{product.title}}</p></a>
        <p class="product-price">{{product.price}} đ</p>
        <button class="product-btn-add"  mat-raised-button (click)="addShopCart(product.productId)" >THÊM VÀO GIỎ</button>
      </mat-card>
      </div>

    </ng-container>
    </div>
  </div>
</section>
</div>
